{% load static %}

<link rel="stylesheet" tpye="text/css" href="{% static 'polls/style.css' %}">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        {% if question.can_vote %}
            <li><p>{{ question.question_text }} </p><a href="{% url 'polls:detail' question.id %}" ><button>vote</button></a></li>
            <a href="{% url 'polls:results' question.id %}"><button>results</button></a>
        {% else %}
             <li><p>{{ question.question_text }} </p><a href="{% url 'polls:results' question.id %}" ><button>results</button></a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}